*{
  box-sizing: border-box;
}

@font-face{
  font-family: TrickAsunder;
  src: url('../trickasunder.ttf');
}

body {
  font-size: 1.5rem;
  font-family: TrickAsunder, sans-serif;
  overflow-wrap: break-word;
  background: url('/src/asunderbackground-3.png');
  background-repeat: repeat-y;
  background-size: 100% auto;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 900;
  max-width: 40rem;
  line-height: 2.5rem;
  letter-spacing: 0.2rem;
}

h1{ font-size: 2.5rem; }
h2{ font-size: 2.25rem; }
h3{ font-size: 2rem; }
h4{ font-size: 1.75rem; }
h5{ font-size: 1.5rem; }
h6{ font-size: 1.25rem; }

li{
  line-height: 1.4rem;
}

code{
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}

p{
  line-height: 1.8rem;
}

::placeholder{
  color: #a5a39d; 
}

figure{
  margin: 2rem;
}

figcaption{
  max-width: 35rem;
}

/* Classes Styling */
.element{
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #ffffff;
}

li{
  line-height: 1.8rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

footer{
  margin-top: 5rem;
  padding-bottom: 2.5rem;
}

.navbar{
  background: linear-gradient(to bottom, #000000 65%, transparent);
  padding-bottom: 2rem;
  opacity: 95%;
}

/* For all items in navbar */
.nav-props{
  text-decoration: none;
  cursor: pointer;
  width: fit-content;
  font-style: normal;
  letter-spacing: 0em;
  display: block;
  outline: none;
}

.nav-props:hover{
  text-decoration: none;
}

/* For the site title specifically */
.site-title{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  font-weight: 900;
  font-size: 2.5rem;
}

/* For the nav buttons like 'Home' and 'About' */
.nav-link-button{
  color: #ffffff;
  padding: .2rem 0;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.8rem;
}

.nav-link-button:hover{
  color: violet;
}

/* Underline property for the selected nav item and page */
.underline{
  background-repeat: repeat-x;
  background-image: linear-gradient(to right,#ffffff 100%,#ffffff 0);
  background-size: 1px 1px;
  background-position: 0 calc(100%);
}

.btn{
  font-weight: 300;
}

/* Removes outline from buttons when clicked */
.btn:focus {
  outline: none;
  box-shadow: none;
}

/* Removes outline from hamburger button */
.navbar-toggler {
  outline: none;
  border: none;
}

/* Hamburger icon */
.navbar-toggler-icon{
  background-image: url("/src/menu-white-18dp.svg") !important;
  background-size: 2.5rem 2.5rem;
}

/* For footer purposes, we wrap everything in a container + flexbox */
#container {
  display: flex;
  min-height: 100vh;
  margin-top: 10rem;
  flex-direction: column;
}

#main-content {
  flex: 1;
}

@media(max-width: 991px){
  .navbar{
    background: linear-gradient(to bottom, #000000 80%, transparent);
    padding-bottom: 2.8rem;
  }
}

